<div class="row">
    <div class="col-sm-12 nav-bar">
        <div class="row">
            <div class="col-sm-1 text-right icons-position">
                <i class="fa fa-github fa-3x"></i>
            </div>
            <div class="col-sm-3 tabViewIn">
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-1 tabView">
                Pull request
            </div>
            <div class="col-sm-1 tabView text-center">
                Issues
            </div>
            <div class="col-sm-1 tabView">
                Marketplace
            </div>
            <div class="col-sm-1 tabView">
                explore
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>